* {
    box-sizing: border-box;
  }
  body {
    color : gray; 
  }
  table {
    width:100%;
    font-family:Arial   ;
  }
  a:hover {
    color:white;
    text-shadow: 0 0 5px navy;
    text-decoration:none;
  }